@font-face {
    src: url('./fonts/BentonSans-Medium.woff2') format('woff2');
    font-family: BentonSans;
    font-display: swap;
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
}

body {
    font-family: BentonSans;
    font-weight: normal;
}

a:hover {
    color: #939393;

}

a {
    text-decoration: none;
    color: #979797;
}

p {
    font-size: 16px;
}

.title-1 {
    font-size: 31px;
}

.title-2 {
    font-size: 25px;
}

.dropdown-exhibitions {
    border: 1px solid !important;
    width: 113px;
    height: 34px;
    margin-left: 15px;
    font-size: 17px;
}

.container-fluid {
    padding: 0;
    /*	max-width: 1680px;*/
    /* overflow-x: hidden;*/
}

.nav-up {
    top: -100px;
    transition: 0.5s;

}

.nav-down {
    transition: 0.5s;
}

.bg-light {
    background-color: #fff !important;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    /* width: 95%;*/
    margin: auto;
}

.nav-item {
    padding-right: 10px;
}

.navbar-nav {
    white-space: nowrap;
}

@media (min-width: 1281px) {
    .navbar-expand-lg .navbar-nav .nav-link {

        padding-left: 39px;

    }

    .align {
        padding: 5% 9% 5% 9%;
        text-align: center;
    }

    .alignexhibitions {
        padding: 20% 9% 20% 9%;
        text-align: center;

        margin: auto;
    }

    .viewinghome {
        font-weight: normal;
        color: #000;
        font-size: 12px;
        line-height: 1.3rem;



    }

    .heading {
        font-weight: normal;
        font-size: 33px;

    }

    .head {
        font-weight: normal;
        font-size: 2.0rem;

    }

    .align {
        width: 100%;
        text-align: center;
    }

    .paragrapheVR {
        color: #000;
        font-size: 14px;
        padding: 0% 11% 0% 11%;
        line-height: 45px;
    }

    .paragrapheVRT {
        color: #000;
        font-size: 14px;
        padding: 35% 0% 35% 0%;
        line-height: 45px;
    }

    .paragraphe {
        width: 100%;
        color: #000;
        font-size: 14px;
        line-height: 45px;
    }

    .padimgvr {
        padding-top: 35%;
    }

    .btn-available1 {
        border-radius: 0px;
        border: 1px solid #000;
        color: #000;

        background-color: #fff;
        padding: 1% 2% 1% 2%;
        /* margin-top: 5%; */
        background-color: transparent;
        float: right;
    }


}

#homeslider .carousel-indicators {
    /*  justify-content: flex-start;
   /* padding: 0 10px;*/
    /*  margin: 0;*/
    bottom: 75px;
    /*  width: 50%;*/
}

#homeslider .carousel-indicators li {
    background-color: #fff;
}


#homeslider .carousel-control-next,
#homeslider .carousel-control-prev {
    /* justify-content: flex-end;
    bottom: -50px;
    top: unset;*/
    width: 5%;
    right: 2%;

}

#homeslider .carousel-control-prev {

    left: 2%;
}

/*#homeslider .carousel-control-next-icon{
    background-image: url('../img/next.png') !important ;
    width: 50px;
    background: no-repeat 50%/100%;
}*/
/*#homeslider .carousel-control-prev-icon{
    background-image: url('../img/prev.png') !important ;
    width: 50px;
    background: no-repeat 50%/100%;
}*/



#homeslider .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 100 100'%3e%3cpath d='M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z' class='arrow'/%3e%3c/svg%3e");
    padding: 15px 15px;
}

#homeslider .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 100 100'%3e%3cpath d='M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z' class='arrow' transform='translate(100, 100) rotate(180) '/%3e%3c/svg%3e");
    padding: 15px 15px;
}

#homeslider .carousel-item {
    margin: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .bg-light {

        padding: 20px 0;
    }

    #homeslider .carousel-control-prev {
        /*  left: 85%;*/
    }
}

.row {
    margin: 0;
}

.img-hover-zoom {

    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 4s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.artist-block {
    padding-left: 5.5px;
    padding-right: 5.5px;
    padding-bottom: 11px;
}

.nav-tabs .nav-link {
    font-family: 'BentonSans';
    font-size: 14px;
    font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-family: 'BentonSans';
    border-color: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #fff;
}

.nav-link {
    display: block;
    padding-left: 0;
    color: #979797;
}